body {
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #494646;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

section {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}
/* diseno de productos */

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Tarjetas de productos */
.producto {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.producto:hover {
  transform: scale(1.03);
}

.producto img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.producto h3 {
  margin-bottom: 10px;
}

.producto .precio {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  background-color: #101010;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #27ae60;
}

#carrito li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 5px 0;
}

#finalizarCompra {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
}

#mensaje {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
